.hidden {
    display: none
}

body {
    background-image: url(../images/login.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#loginPage {
    margin: 30% auto;

}

#wantToGetAway {
    font-family: 'Dancing Script', cursive;
    color: #E4F5FD;
}

#loginButton {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.parallax {
    max-height: 300px
}

.searchHide {
    display: none;
}

#footer {
    height: 25px;
    font-size: 20px;
}