.hidden {
    display: none
}

body {
    background-image: url(../images/login.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#loginPage {
    margin: 30% auto;
    max-height: 100%
}

#wantToGetAway {
    font-family: 'Dancing Script', cursive;
    color: #E4F5FD;
}

#loginButton {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.brand-logo {
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    font-size: 40px;
    color: #d3def4;
}

#navbar-links {
    font-family: 'Lobster', cursive;
}

h1 {
    font-family: 'Acme', sans-serif;
}

.parallax {
    height: auto;
    max-height: 300px
}

.parallax-container {
    height: 412px;
}

.searchHide {
    display: none;
}

#searchButton {
    font-family: 'Acme', sans-serif;
    font-size: 20px
}

#foodCardDiv {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    margin: 5px;
}

.resize {
    width: 300px;
    height: 300px;
}



#resultBox{
    border: black;
    border-style: double;
    background-color: #3196f3;
    color: white;
    padding: 0px 0px 5px 0px;
    width: 40%;
    margin: auto;
}

#tripTableTop{

    font-size: 20px;
    text-decoration: underline #26a69a;
}

#mytripsTable {
    font-family: 'Acme', sans-serif;
    font-size: 25px
}

.inputs {
    margin-bottom: 30px
}

#userProfile {
    font-family: 'Acme', sans-serif;
    font-size: 25px
}

#aboutusText {
    font-family: 'Acme', sans-serif;
    font-size: 25px
}

#footer {
    height: 25px;
    font-size: 15px;
    color: white;
    padding: 3px;
    border-top: #49b1c2 2px ridge;
    font-family: 'Amatic SC', cursive;
}

@media only screen and (max-width: 1050px) {
    .parallax-container {
        height: 300px
    }
}

@media only screen and (max-width: 800px) {
    .parallax-container {
        height: 250px
    }
}

@media only screen and (max-width: 500px) {
    .parallax-container {
        height: 150px
    }
}